:root {
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --font-color: #696969;
  --bg-color: #fff;
  --heading-color: #000c04;
  --border-radius: 10px;
  --border-color: #ddd;
  --border-light: #f0f3f0;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --bg-light: rgba(147, 107, 232, 0.05);
  --iframe-filter: grayscale(0%);
  --widget-bg: #3f3a64;
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --font-color: #afafaf;
  --bg-color: #151515;
  --heading-color: #ddd;
  --border-color: #333;
  --border-light: #444;
  --nav-color: #fff;
  --bg-light: #222;
  --dropdown-color: #151515;
  --iframe-filter: grayscale(100%);
  --widget-bg: #131617;
  --para-color: #afafaf;
  --border-radius: 10px;
  --secondary: #f53626;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  background: var(--bg-color);
  color: var(--font-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

body a,
button,
.btn {
  cursor: pointer !important;
  font-family: "Jost", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
  color: #189a46;
}

a.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid var(--primary-color);
  color: var(--heading-color);
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
}
a.read:hover {
  color: var(--primary-color);
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
  font-family: "Jost", sans-serif;
}

button,
input,
select,
label,
li {
  outline: none;
  font-family: "Jost", sans-serif;
}

iframe {
  border: none;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-white {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  background-color: #fff;
  color: var(--primary-color);
}

.border-btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
}

.border-btn:hover {
  color: var(--primary-color);
  background: #fff;
}

.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
}

.btn-primary {
  color: #fff;
  background-color: #189a46;
  border-color: #189a46;
}

.btn-primary:hover {
  color: #fff;
  background-color: #116e32;
  border-color: #116e32;
}

.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: var(--secondary);
}

.hny-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.radius-image {
  border-radius: var(--border-radius);
}

.owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
}

/* Header */
header {
  background-color: var(--bg-color);
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.header-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 10;
}

.navbar {
  padding: 0;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
}

.navbar .navbar-brand:hover {
  opacity: 0.95;
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  color: var(--heading-color);
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
  width: 100%;
}

a.nav-link:before,
a.dropdown-item:before {
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 0px;
  height: 1px;
  bottom: 13px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: var(--primary-color);
}

a.nav-link:before,
a.dropdown-item:before {
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 0px;
  height: 1px;
  bottom: 13px;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-expand-lg .navbar-nav .nav-link span.fa {
  font-size: 14px;
  padding-left: 2px;
  font-weight: 600;
}

.dropdown-menu {
  border-radius: var(--border-radius);
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  min-width: 13rem;
  padding: 1rem 0 0.3rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 28%;
  z-index: 1001;
}

a.dropdown-item {
  font-weight: 400;
  font-size: 1.2em;
  position: relative;
  color: var(--heading-color);
  padding-top: 0;
  display: block;
  width: 100px;
  padding-bottom: 14px;
}

.dropdown-item:hover {
  background-color: initial;
}

a.dropdown-item:hover {
  color: var(--primary-color);
}

/* Carousel */
.carousel .companies20-content {
  position: relative;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel,
.owl-carousel .owl-item {
  position: relative;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  user-select: none;
}

.carousel li {
  list-style-type: none;
}

.carousel .banner-view {
  background: url(../images/banner1.jpg) no-repeat center;
  background-size: cover;
  min-height: calc(100vh - 40px);
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
}

.carousel .banner-view:before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}

.carousel .banner-top1 {
  background: url(../images/banner2.jpg) no-repeat center;
  background-size: cover;
}

.carousel .banner-top2 {
  background: url(../images/banner3.jpg) no-repeat center;
  background-size: cover;
}

.carousel .banner-top3 {
  background: url(../images/banner4.jpg) no-repeat center;
  background-size: cover;
}

.carousel .banner-info-bg {
  max-width: 700px;
}

.carousel .banner-info-bg h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.carousel .banner-info-bg p {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}

.carousel .owl-one .owl-nav {
  display: none;
}

.carousel .owl-one .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}

.carousel .owl-one .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #fff;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 25px;
  position: relative;
  opacity: 0.9;
}

.carousel .owl-one .owl-dots .owl-dot.active span,
.carousel .owl-one .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
  width: 30px;
  height: 10px;
}

/* About Us */
.about-us {
  background: var(--bg-color);
}

.about-us .bottom-ab-grids.align-items-center {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

/* Features */
.features {
  background: var(--bg-light);
}

.features .area-box {
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  position: relative;
  margin-bottom: 30px;
}
.features .area-box:hover {
  background: var(--bg-light);
}

.features .icon span.fa {
  color: var(--primary-color);
  font-size: 30px;
}

.features .area-box h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  display: block;
  color: var(--heading-color);
}

.features .area-box h4 a:hover {
  color: var(--primary-color);
}

/* Services */
.services {
  background: var(--bg-color);
}

.services .cwp4-text ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
  margin: 15px 0;
  font-weight: 600;
}

.services ul.cont-4 li {
  display: block;
}

.services ul.cont-4 li span.fa {
  color: var(--primary-color);
  margin-right: 12px;
  background: var(--bg-light);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

/* number */
.number {
  background: var(--primary-color);
}

.number_info {
  text-align: center;
  padding: 0;
  border-top: none;
  border-bottom: none;
}

.number_info p {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}

.number_info h4 {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

/* Pricing */
.pricing {
  background: var(--bg-light);
}

.pricing .pricing-sec-7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}

.pricing .pricing-gd-left {
  background: var(--bg-color);
  border-radius: 6px;
  align-self: center;
}

.pricing .pric-7-1 .w3l-pricing-7 {
  padding: 3.5em 2.5em;
  border-right: 0;
}

.w3l-pricing-7-top {
  text-align: center;
}

.w3l-pricing-7-bottom {
  text-align: center;
  padding-top: 1em;
}

.pricing ul.links {
  min-height: 120px;
}

.pricing ul.links li {
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}

.pricing p.lists {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}

.pricing .buy-button {
  margin-top: 2em;
}

.pricing .pricing-gd-left {
  background: var(--bg-color);
  border-radius: 6px;
  align-self: center;
}

.pricing .pricing-gd-left.active {
  transform: scale(1.03);
  z-index: 1;
  margin: 0;
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
  border-radius: 6px;
}

.pricing-gd-left.pric-7.active .w3l-pricing-7-top {
  padding: 3em 2.5em 0.5em;
  background: var(--primary-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.pricing-gd-left.pric-7.active .w3l-pricing-7-bottom {
  padding: 2em 2.5em 3.5em;
}

.pricing .pricing-gd-left.active h6,
.pricing .pricing-gd-left.active h4 {
  color: #fff;
}

.pricing h5 {
  font-size: 15px;
  line-height: 20px;
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: var(--border-radius);
}

.pricing .pric-7-2 .w3l-pricing-7 {
  padding: 3.5em 2.5em;
  border-left: 0;
}

.pricing h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.pricing h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: var(--primary-color);
}

.pricing h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.pricing h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

.pricing .pric-7-2 .w3l-pricing-7 {
  padding: 3.5em 2.5em;
  border-left: 0;
}

/* About */
.about {
  background: var(--bg-color);
}

.about .new-block {
  display: grid;
  align-items: center;
  padding: 2rem 0;
}

.about .middle-section {
  max-width: 950px;
  margin: 0 auto;
}

.about .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

.about span.video-play-icon {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

div#small-dialog iframe {
  width: 100%;
  height: 400px;
  display: block;
}

/* Testimonials */
.clients {
  background: var(--bg-light);
}

.clients .testimonial-width {
  max-width: 1050px;
  margin: auto;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
}

.clients .testimonial {
  display: block;
  margin: 0;
  padding: 40px 30px;
  position: relative;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  border: none;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}

.clients .testimonial blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}

.clients blockquote q {
  font-size: 1.2em;
  line-height: 28px;
  color: var(--para-color);
}

.clients blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  line-height: 0.8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}

.clients .testi-des {
  display: flex;
  text-align: center;
}

.testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.clients .test-img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
}

.clients .testimonial .people {
  margin: 0;
  margin-left: 20px;
  text-align: left;
}

.clients .testimonial .people h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.clients p.indentity {
  color: #777;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
}

.owl-carousel {
  display: none;
  width: 100%;
}

.owl-carousel,
.owl-carousel .owl-item {
  position: relative;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-nav.disabled {
  display: none;
}

.owl-theme .owl-nav {
  display: none;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  display: block;
}

.owl-two.owl-carousel.owl-theme .owl-dots {
  position: inherit;
  left: 0px;
  right: 0px;
  bottom: 30px;
  margin-top: 80px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}

.owl-two.owl-carousel.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #d8d8d8;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 25px;
  position: relative;
}

.owl-two.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.owl-two.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
  width: 30px;
  height: 10px;
}

/* Bottom */
.bottom {
  background: var(--bg-color);
}
.bottom .subscribe {
  max-width: 650px;
}

.bottom .subscribe-wthree-field {
  justify-content: space-between;
}

.bottom form.subscribe-wthree input[type="email"] {
  font-size: 16px;
  color: var(--title-color);
  border-radius: var(--border-radius);
  padding: 0px 20px;
  height: 60px;
  flex-basis: 70%;
  background: #fff;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.bottom form.subscribe-wthree button {
  flex-basis: 27%;
}

/* Footer */
footer {
  background: #111;
}

footer h6 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

footer a {
  color: var(--para-color);
}

footer a:hover {
  color: white;
}

footer .footer-list-28 ul li p {
  font-weight: normal;
  font-size: 16px;
  color: var(--para-color);
  line-height: 28px;
}

footer .footer-list-28 ul {
  padding-left: 0px;
}

footer .social-icons {
  margin-top: 3px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

footer .social-icons li {
  display: inline-block;
  margin-bottom: 0;
}

footer .social-icons li a {
  display: block;
  text-decoration: none;
}

footer .social-icon a i {
  font-size: 16px;
  color: var(--para-color);
  text-decoration: none;
}

footer .social-icon a:hover i {
  color: #fff;
  transition: 0.3s ease-in;
}

footer .copy-footer-28 {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--para-color);
  margin-bottom: 0;
}

footer .copy-footer-28 a {
  color: var(--secondary-color);
  opacity: 0.9;
}

footer .copy-footer-28 a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

footer .midd-footer-28 {
  background: #111;
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}

footer #movetop {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 48px;
  height: 48px;
  background: var(--primary-color);
  padding: 0;
  line-height: 36px;
  border-radius: 50px;
  transition: 0.3s ease-out;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
      0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
      0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
